// Page Structure
.content {
  overflow-x: hidden;
}

// Body
.fontPrimary {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  opacity: 0.8;
  color: #121212;
}

.fontSecondary {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  opacity: 0.8;
  color: #121212;
}

.fontNavIcons {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  opacity: 0.88;
}

.nameStrong {
  color: white;
}

.logo {
  background-image: url(./images/budget_buddy.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 //border-radius: 50%;
  height: 75px;
  width: 75px;
}

// Sidebar Nav
.navbar {
  border: 1px solid black;
  height: 100vh;
  width: 160px;
  position: sticky;
  //z-index: 1;
  top: 0;
  left: 0;
  background-color: #121212;
  overflow-x: hidden;
  padding-top: 20px;
}

// Nav toggle
.hamburger-toggle {
  width: 80px;
  height: 80px;
  border: none;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.hamburger {
  position: relative;
  width: 40px;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  border-radius: 2px;
  height: 2px;
  background: green;
  transition: 0.3s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  top: 8px;
}

.hamburger-icon,
.hamburger-icon::before,
.hamburger-icon::after {
  transition: 0.2s ease-in-out;
}

.hamburger-icon.is-open {
  transform: translateX(-50px);
  background-color: rgba(255, 255, 255, 0);
}

.hamburger-icon.is-open::before {
  transform: rotate(-45deg) translate(30px, 40px);
}

.hamburger-icon.is-open::after {
  transform: rotate(45deg) translate(30px, -42px);
}
